#slider .view-content {
  position: relative;
}

#slider #widget_pager_top_slider-block {
  position: absolute;
  left: 746px;
  top: 0px;
  width: 174px;
}

#slider #widget_pager_top_slider-block.views-slideshow-pager-fields div.views-slideshow-pager-field-item {
  position: relative;
  display: block;
  float: left;
  cursor: pointer;
  width: 164px;
  height: 47px;
  color: black;
  background: #EEE;
  background: -moz-linear-gradient(top, white, #EEE);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EEE));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE');
  border-color: #CCC;
  border-style: solid;
  border-width: 0 0 1px 0;
  overflow: hidden;

  padding: 0px 0px 0px 6px;
  font-size: 16px;
  color: #4f4f4f;
}

#slider #widget_pager_top_slider-block.views-slideshow-pager-fields div.views-slideshow-pager-field-item.active {
  background:#e0eaf4;
  background:-moz-linear-gradient(top, #eee, #e0eaf4);
  background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0eaf4));
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#eee', EndColorStr='#e0eaf4');

  color: #036;
}

#slider .slider-item {
  position: relative;
}

#slider .slider-item .caption {
  position: absolute;
  bottom: 5px;
  width: 716px;

  background: rgb(0, 51, 102);
  background: rgba(0, 51, 102, 0.6);

  color: #fff;

  padding: 10px;
}

#slider h1, #slider h2, #slider h3, #slider h4, #slider h5, #slider h6 {
  margin-top: none;
}
