/* Local overrides to theme elements. */

/* No background on the .main class. */
.main {
  background: transparent;
}

/* Give Marcus a pre-set margin on headers in the content. */
h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

/* Override header margin if directly following another header. */
h1 + h1, h1 + h2,
h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h4, h4 + h5, h4 + h4,
h5 + h5, h5 + h6,
h6 + h6 {
  margin-top: 0em;
}

/* Override header margin if the first element on the page. */
div.field-item > h2,
div.field-item > h3,
div.field-item > h4,
div.field-item > h5,
div.field-item > h6 {
  margin-top: 0em;
}

/* Sensiblise list item spacing. */
ul li, ol li {
  margin-bottom: 0px;
}

ul li:last-child, ol li:last-child {
  margin-bottom: 0.8em;
}


/* Space out the highlights block title a bit. */
h2#block-views-highlights-news,
h2#block-views-zones-home-promo {
  margin-top: 1em;
}

/* Table has a bottom margin. */
table {
  margin-bottom: 1em;
}

/* Table caption is italic. */
table caption {
  font-style: italic;
}

/* Table cell has a border. */
table td {
  border-left: #B9CFE7 solid 1px;
}

/* Borderless table. :-/ */
table.borderless tr,
table.borderless th,
table.borderless td {
  border: none;
}

table.borderless tbody tr:nth-child(2n),
table.borderless tbody tr:nth-child(2n+1) {
  background: transparent;
}

/* jQuery menu */
body ul.jquerymenu li.parent span.open {
  background-image: url('../images/collapse-arrow.png');
  background-position: 50% 0.4em;
}

body ul.jquerymenu li.parent span.closed {
  background-image: url('../images/expand-arrow.png');
  background-position: 50% 0.4em;
}

/* Ouch! Ugly! */
.ie ul.jquerymenu li {
  padding-bottom: 0em;
}

.ie ul.jquerymenu li.parent {
  margin-top: -1em;
  position: relative;
}

.ie ul.jquerymenu li ul {
  margin-top: 0.3em;
}

/* Ouch! Ugly! */
.ie ul.jquerymenu li.parent span.open,
.ie ul.jquerymenu li.parent span.closed {
  position: absolute;
  top: 1.3em;
  left: 0px;
}

/* Content editing */
.filter-help a {
  padding: 0 20px 0 0;
}

/* No border on any links, ever! */
.main a,
.main a:link,
.main a:active,
.main a:visited,
a.tabledrag-handle,
a.tabledrag-handle:link,
a.tabledrag-handle:active,
a.tabledrag-handle:visited {
  text-decoration: none;
  border: none;
}

/* Underline links in the main content.*/
#main-content .field-type-text-with-summary a, #main-content .field-type-text-with-summary a:link,
#main-content .field-type-text-with-summary a:active, #main-content .field-type-text-with-summary a:visited,
#main-content .field-name-field-page-detail a, #main-content .field-name-field-page-detail a:link,
#main-content .field-name-field-page-detail a:active, #main-content .field-name-field-page-detail a:visited,
#main-content .field-name-field-event-detail a:active, #main-content .field-name-field-event-detail a:visited,
#main-content .field-name-field-event-detail a, #main-content .field-name-field-event-detail a:link {
  border: none;
  text-decoration: underline;
}

/* File size */
span.filesize {
  font-style: italic;
}

/* content-bottom (related content) links */
#main-content-bottom {
  background: none repeat scroll 0 0 #DFE9F4;
  border-radius: 3px 3px 3px 3px;
  color: #3E658E;
  font-size: 0.9em;
  margin: 8px 30px 20px 0;
  padding: 10px;
}

/* Notice style */
#main-content .notice {
  border: 1px dotted #999;
  background-color: #EEE;
  padding: 0.6em;
  margin: 1em;
}

/* Important notice style. */
#main-content .importantnotice {
  color: #900;
  border: 1px dotted #f99;
  background-color: #FEE;
  padding: 0.6em;
  margin: 1em;
}

/* Thou shalt not nest thy notices, or if thou dost, they shan't show up as such. */
#main-content .notice .notice,
#main-content .importantnotice .importantnotice {
  border: none;
  padding: 0em;
  margin: 0em;
}

/* Floated images. */
.image-float-left {
  float: left;
  margin: 0.2em 1em 0.5em 0;
}

.image-float-right {
  float: right;
  margin: 0.2em 0 0.5em 1.5em;
}

/* Hack up the node entry forms. */
.page-node-add form fieldset, .page-node-edit form fieldset {
  padding: 0px;
  border: none;
  background: transparent;
}

.page-node-add form fieldset legend, .page-node-edit form fieldset legend {
  display: none;
}

.page-node-add span.cke_skin_kama, .page-node-edit span.cke_skin_kama {
  border: none;
  padding: 0px;
}

.page-node-edit table tr, .page-node-add table tr,
.page-node-edit table th, .page-node-add table th,
.page-node-edit table td, .page-node-add table td {
  border: none;
}

.page-node-add table tr.even, .page-node-edit table tr.even,
.page-node-add table tr.odd, .page-node-edit table tr.odd {
  border: none;
  background: transparent;
}

.page-node-add table tbody tr:nth-child(2n), .page-node-edit table tbody tr:nth-child(2n),
.page-node-add table tbody tr:nth-child(2n+1), .page-node-edit table tbody tr:nth-child(2n+1) {
  background: transparent;
}

#main-content a.tabledrag-handle {
  text-decoration: none;
}

.page-node-add div.field-name-field-events, .page-node-edit div.field-name-field-events,
.page-node-add div.field-name-field-related-pages, .page-node-edit div.field-name-field-related-pages,
.page-node-add div.field-name-field-related-url, .page-node-edit div.field-name-field-related-url,
.page-node-add div.field-name-field-external-url, .page-node-edit div.field-name-field-external-url {
  margin-bottom: 3em;
}

.page-node-add .tabledrag-toggle-weight-wrapper, .page-node-edit .tabledrag-toggle-weight-wrapper {
  position: relative;
  top: 3em;
}

/* Fixes for IE. */
table tbody tr.odd {
  background: #EEF7FF;
}
table tbody tr.even {
  background: #EEE;
}
