/* Local overrides to theme elements. */

/* No background on the .main class. */
.main {
  background: transparent;
}

/* Give Marcus a pre-set margin on headers in the content. */
.main h2, .main h3, .main h4, .main h5, .main h6 {
  margin-top: 1em;
}

/* Sensiblise list item spacing. */
ul li, ol li {
  margin-bottom: 0px;
}

ul li:last-child, ol li:last-child {
  margin-bottom: 0.8em;
}


/* Space out the highlights block title a bit. */
h2#block-views-zones-home-promo {
  margin-top: 1em;
}

/* Table cell has a border. */
table td {
  border-left: #B9CFE7 solid 1px;
}

/* jQuery menu */
body ul.jquerymenu li.parent span.open {
  background-image: url('../images/collapse-arrow.png');
  background-position: 50% 0.4em;
}

body ul.jquerymenu li.parent span.closed {
  background-image: url('../images/expand-arrow.png');
  background-position: 50% 0.4em;
}

/* Ouch! Ugly! */
.ie ul.jquerymenu li.parent {
  position: relative;
}

/* Ouch! Ugly! */
.ie ul.jquerymenu li.parent span.open,
.ie ul.jquerymenu li.parent span.closed {
  position: absolute;
  top: 18px;
  left: 0px;
}

/* Content editing */
.filter-help a {
  padding: 0 20px 0 0;
}

/* No border on any links, ever! */
.main a,
.main a:link,
.main a:active,
.main a:visited,
a.tabledrag-handle,
a.tabledrag-handle:link,
a.tabledrag-handle:active,
a.tabledrag-handle:visited {
  border: none;
}

/* Underline links in the main content.*/
#main-content a,
#main-content a:link,
#main-content a:active,
#main-content a:visited {
  text-decoration: underline;
}

/* But never on tabs, images or headers! */
#main-content a img, #main-content a:link img, #main-content a:active img, #main-content a:visited img,
#main-content ul.tabs a, #main-content ul.tabs a:link, #main-content ul.tabs a:active, #main-content ul.tabs a:visited,
#main-content h1 a:link, #main-content h2 a:link, #main-content h3 a:link, #main-content h4 a:link, #main-content h5 a:link, #main-content h6 a:link {
  text-decoration: none;
}

/* content-bottom (related content) links */
#main-content-bottom {
  background: none repeat scroll 0 0 #DFE9F4;
  border-radius: 3px 3px 3px 3px;
  color: #3E658E;
  font-size: 0.9em;
  margin: 8px 30px 20px 0;
  padding: 10px;
}

/* Notice style */
#main-content .notice {
  border: 1px dotted #999;
  background-color: #EEE;
  padding: 0.6em;
}

/* Important notice style. */
#main-content .importantnotice {
  color: #900;
  border: 1px dotted #f99;
  background-color: #FEE;
  padding: 0.6em;
}
