
/* Generic display for all sources. */

div.filefield-source input.form-text,
div.filefield-source select.form-select {
  display: inline;
  width: 20em;
}

div.filefield-source .form-item {
  white-space: normal;
}

div.filefield-source input.hint {
  color: #999;
}

div.filefield-sources-list a.active {
  font-weight: bold;
}

/* Reference source. */
div.filefield-source-reference-item {
  font-size: 90%;
}

/* Remote source. */
div.filefield-source-remote input.form-text {
  /* Helps with display consistency since references has a background. */
  background-image: inherit;
}

.fielfield-source-button {
  cursor: pointer;
  padding: 4px 17px;
  color: #5A5A5A;
  border: 1px solid #E4E4E4;
  border-bottom: 1px solid #B4B4B4;
  border-left-color: #D2D2D2;
  border-right-color: #D2D2D2;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: block;
  text-align: center;
}