/* GSHSS Slider CSS. */
@mixin slidergradient($start, $end) {
  background: $start;
  background: -moz-linear-gradient(top, $start, $end);
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}');
}

#slider {
  width: 900px;
  border: 1px solid #ccc;
  padding: 10px 10px 5px 10px;

  .view-content {
    position: relative;
  }
  #widget_pager_top_slider-block.views-slideshow-pager-fields {
    // Position the pager div.
    position: absolute;
    left: 700px;
    top: 0px;
    width: 194px;

    // Normal (inactive) pager item.
    div.views-slideshow-pager-field-item {
      position: relative;
      display: block;
      float: left;
      cursor: pointer;
      width: 194px;
      height: 42px;
      color: black;
      @include slidergradient(#FFFFFF, #EEEEEE);
      border-color: #CCC;
      border-style: solid;
      border-width: 0 0 1px 0;
      overflow: hidden;
      padding: 4px 0px 0px 6px;
      font-size: 13px;
      font-weight: bold;
      color: #4f4f4f;
    }

   div#views_slideshow_pager_field_item_top_slider-block_4.views-slideshow-pager-field-item {
     border-bottom: none;
     height: 48px;
   }

    // Active pager item.
    div.views-slideshow-pager-field-item.active {
      @include slidergradient(#EEEEEE, #E0EAF4);
      color: #036;
    }
  }

  .slider-item {
    position: relative;
    overflow: hidden;

    .caption {
      position: absolute;
      bottom: 5px;
      width: 691px;
      background: rgb(0, 51, 102);
      background: rgba(0, 51, 102, 0.6);
      color: #fff;
      padding: 0px 5px 5px 20px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
    margin-top: none;
  }
}
