/* Local overrides to theme elements. */

/* Space out the highlights block title a bit. */
h2#block-views-zones-home-promo {
  margin-top: 1em;
}

/* jQuery menu */
body ul.jquerymenu li.parent span.open {
  background-image: url('../images/collapse-arrow.png');
  background-position: 50% 0.4em;;
}

body ul.jquerymenu li.parent span.closed {
  background-image: url('../images/expand-arrow.png');
  background-position: 50% 0.4em;;
}

/* Content editing */
.filter-help a {
  padding: 0 20px 0 0;
}

/* No border on any links, ever! */
.main a,
.main a:link,
.main a:active,
.main a:visited,
a.tabledrag-handle,
a.tabledrag-handle:link,
a.tabledrag-handle:active,
a.tabledrag-handle:visited {
  border: none;
}

/* Underline links in the main content.*/
#main-content a,
#main-content a:link,
#main-content a:active,
#main-content a:visited {
  text-decoration: underline;
}

/* But never on tabs or images! */
#main-content a img, #main-content a:link img, #main-content a:active img, #main-content a:visited img,
#main-content ul.tabs a, #main-content ul.tabs a:link, #main-content ul.tabs a:active, #main-content ul.tabs a:visited {
  text-decoration: none;
}
/* content-bottom (related content) links */
#main-content-bottom {
  background: none repeat scroll 0 0 #DFE9F4;
  border-radius: 3px 3px 3px 3px;
  color: #3E658E;
  font-size: 0.9em;
  margin: 8px 30px 20px 0;
  padding: 10px;
}
