/* Start override */
.html #admin-menu ul a 
{
	font-size: 14px;
}

.html #admin-menu 
{
   background-image: none;
   background-color: #101010 !important;
}


.html #admin-menu li li 
{
	background-image: none;
	background-color: #202020 !important;
}

.html #admin-menu li li.expandable 
{
	background-image: none;
	background-color: #202020 !important;
}
/* End override */
