/* Local overrides to theme elements. */

@import "variables.scss";
@import "mixins.scss";

/* Make ALL headings blue. ALL. */
@for $i from 1 through 6 {
  h#{$i} {
    color: $uni-blue;
  }
}

/* Give Marcus a pre-set margin on headers in the content. */
h2 {
  margin-top: 1em;
}
h3 {
  margin-top: 1.2em;
  }
h4, h5, h6 {
  margin-top: 1.6em;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

/* Override header margin if directly following another header. */
@for $i from 1 through 6 {
  div.account-images + h#{$i} {
    margin-top: 0em;
  }
  @for $j from 1 through 6 {
    h#{$i} + h#{$i},
    h#{$i} + h#{$j} {
      margin-top: 0em;
    }
  }
}

/* Override header margin if the first element on the page or if in a block. */
div.field-item,
div.col-2 {
  > h2, > h3, > h4, > h5, > h6 {
    margin-top: 0em;
    padding-top: 0em;
  }
}

/* Sensiblise list item spacing. */
ul, ol {
  li {
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 0.8em;
    }
  }
}

/* Space out the highlights block title a bit. */
h2 {
  #block-views-highlights-news,
  #block-views-zones-home-promo {
    margin-top: 1em;
  }
}

/* Table has a bottom margin. */
table {
  margin-bottom: 1em;
  caption {
    font-style: italic;
  }
  td {
    border-left: #B9CFE7 solid 1px;
  }

  // Borderless table style.
  .borderless {
    tr, th, td {
      border: none;
    }
    tbody {
      tr:nth-child(2n), tr:nth-child(2n+1) {
        background: transparent;
      }
    }
  }
}

/* jQuery menu */
body ul.jquerymenu li.parent span.open {
  background-image: url('../images/collapse-arrow.png');
  background-position: 50% 0.4em;
}

body ul.jquerymenu li.parent span.closed {
  background-image: url('../images/expand-arrow.png');
  background-position: 50% 0.4em;
}

/* Ouch! Ugly! */
.ie {
  ul.jquerymenu {
    li {
      padding-bottom: 0em;
      ul {
        margin-top: 0.3em;
      }
    }
    li.parent {
      margin-top: -1em;
      position: relative;
      span {
       .open, .closed {
         position: absolute;
         top: 1.3em;
         left: 0px;
        }
      }
    }
  }
}

/* Content editing */
.filter-help a {
  padding: 0 20px 0 0;
}

/* No border on any links, ever! */
.main {
  a, a.tabledrag-handle {
    &, &:link, &:active, &:visited {
      @include no-decoration;
    }
  }
}

/* Underline links in the main content */
#main-content {
  .field-type-text-with-summary,
  .field-name-field-page-detail,
  .field-name-field-event-detail {
    a {
      &:link, &:active, &:visited {
        @include decoration;
      }
      .tabledrag-handle {
        &:link, &:active, &:visited {
          @include no-decoration;
        }
      }
    }
  }
}

/* Underline links in the highlight block. */
.view-highlight {
  a, a:link, a:active, a:visited {
    @include decoration;
  }
}

/* No underline on the home page. */
body.home.front div.view-content a {
  @include no-decoration;
}

/* Content-bottom (related content) links */
#main-content-bottom {
  background: none repeat scroll 0 0 #DFE9F4;
  border-radius: 3px 3px 3px 3px;
  color: #3E658E;
  font-size: 0.9em;
  margin: 8px 30px 20px 0;
  padding: 10px;
}

/* Notice style */
#main-content {
  .notice, .importantnotice {
    border: 1px dotted #999;
    background-color: #EEE;
    padding: 0.6em;
    margin: 1em;
    .notice, .importantnotice {
      // Thou shalt not nest thy notices, or if thou dost, they shan't show up as such.
      border: none;
      padding: 0em;
      margin: 0em;
    }
  }
  .importantnotice {
    color: #900;
    border: 1px dotted #f99;
    background-color: #FEE;
    .notice, .importantnotice {
      // Thou shalt not nest thy notices, or if thou dost, they shan't show up as such.
      border: none;
      padding: 0em;
      margin: 0em;
    }
  }
}

/* Floated images. */
.image-float-left {
  float: left;
  margin: 0.2em 1em 0.5em 0;
}

.image-float-right {
  float: right;
  margin: 0.2em 0 0.5em 1.5em;
}

.page-node-add,
.page-node-edit {
  legend {
    display: none;
  }
}

/* Hide the field label on long text fields inside fieldsets on the user profile page. */
.page-user-edit {
  .fieldset-wrapper {
    .field-type-text-long {
      label {
        display: none;
      }
    }
  }
}

/* Hack up the node create and edit forms. */
.page-user-edit,
.page-node-add,
.page-node-edit {
  form legend {
    text-indent: 0em;
  }
  form fieldset {
    padding: 0px;
    border: none;
    background: transparent;
  }
  span.cke_skin_kama {
    border: none;
    padding: 0px;
  }
  table {
    tr, th, td {
      border: none;
    }
    tr.odd, tr.even {
      border: none;
      background: transparent;
    }
    tbody {
      tr:nth-child(2n), tr:nth-child(2n) {
        background: transparent;
      }
    }
  }

  /* 
	If profile is edited by academic, we disable the 
	weight option and use drag and drop only 
  */
  .tabledrag-toggle-weight-wrapper {
	display: none;
  }

  /* 
	Increase the weight of toggle links
  */
  .fieldset-legend .fieldset-title {
	font-weight: bold;
	color: #353535;
  }

  /* 
	Increase the weight of toggle links
  */	
  .form-type-managed-file label {
    display: none;
  }

  /*
	Make more space between text field and field-group
  */
  .text-format-wrapper {
	margin-bottom: 15px;
  }
}

.page-node-add,
.page-node-edit {
  div {
    .field-name-field-events,
    .field-name-field-related-pages,
    .field-name-field-related-url,
    .field-name-field-external-url {
      margin-bottom: 3em;
    }
  }
}

.page-node-add,
.page-node-edit,
.page-user-edit {
  .tabledrag-toggle-weight-wrapper {
    position: relative;
    top: 3em;
  }
}

/* Fixes for IE. */
table {
  tbody {
    tr.odd {
      background: #EEF7FF;
    }
    tr.even {
      background: #EEE;
    }
  }
}

#background-wrapper,
body.html.home.front {
  background-image: url('../images/homepage-blue.jpg');
  background-color: $uni-blue;
}

#background-wrapper,
body.html.blue.not-front {
  background-image: url('../images/blue.jpg');
  background-color: $uni-blue;
}

#background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  z-index: -1;
  background-repeat: no-repeat;
  background-color: white;
  background-position: 50% 0px;
}

/* Float account-images right. */
.account-images {
  float: right;
  margin: 20px 10px 0px 20px;
}

/* Start align profile image */
.profile_align img {
  margin-top: 30px;
}
/* End align profile image */

/* Event presenter and location. */
.views-table {
  th.views-field-field-event-speaker-organisation {
    min-width: 150px;
  }
  th.views-field-field-location {
    min-width: 130px;
  }
}

/* Staff list views: office field. */
.view-id-staff th.views-field-nothing-1 {
  min-width: 70px;
}
