/* Quick Tabs: Override "Basic" style. */

@import "variables.scss";
@import "mixins.scss";

/* Override h2 size on the profile tabs. */
#main-content .pane-quicktabs-staff-profile h2 {
  font-size: 23px;
}


.quicktabs-style-nostyle {
  border: none;
  margin-top: 1em;
}

ul.quicktabs-tabs.quicktabs-style-nostyle {
  border-bottom: 1px solid #758CAA;
  li {
    margin: 0 8px 0 0;
    padding: 5px 25px 2px 25px;
    border: 1px solid #AAA;
    border-bottom: 1px solid #758CAA;
    @include gradient(#EEEEEE, #E0EAF4);

    a {
      color: #666;
      margin-bottom: 0.5em;
      &:hover {
        color: $uni-blue;
      }
    }

    &.active {
      @include gradient(#758CAA, #003366);
      color: white;

      a {
        color: white;
        background: none;

        &:hover {
          color: $uni-blue;
        }
      }
    }
  }
}
