/**
 * @file
 * SCSS variables.
 */
$uni-blue: #036;

$page-background: white;
$block-background: #dfe9f4;
$button-menu-background: #4b99c7;
$button-first-background: #54479C;
$button-background: #3c628f;
$button-text: white;
